<h1>{{title}}</h1>

<h2><code>$any( )</code> type cast function and an undeclared member</h2>

<p>There is no such member as <code>bestByDate</code> in the following two examples, so nothing renders:</p>
<p>The item's undeclared best by date is: {{$any(item).bestByDate}}</p>

<h2>using <code>this</code></h2>
<p>The item's undeclared best by date is: {{$any(this).bestByDate}}</p>




<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
-->